body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: #141e46;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden;
  max-width: 2000px;
  min-width: 320px;
}


/* Size and position all image */
img {
  width: 100%;
  height: 100%;
}

.logo {
  width: 372px;
  height: 83px;
  padding: 68px 0 0 114px;
}

.pictureFirst {
  position: absolute;
  top: 0;
  right: 0;
  height: 772.47px;
  width: 740.31px;
}


.schoolOnline2 {
  width: 936.3px;
  height: 1489.49px;
  margin-top: 176.2px;
}
.schoolOnline2 p, .schoolOnline2 h1 {
  margin-left: 120px;
}

.schoolOnline2 h1 {
     width: 508px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 43px;
    font-weight: bold;
    padding-top: 13.8px;
    margin-bottom: 0;
    margin-top: 0;
}
.schoolOnline2 p:nth-child(2){
  line-height: 43px;
  font-size: 32px;
  width: 600px;
  height: 112px;
  margin-top: 47.2px;
  margin-bottom: 0px;
}
.schoolOnline2 p:nth-child(4){
  line-height: 43px;
  font-size: 32px;
  width: 600px;
  height: 112px;
  margin-left: 110.8px;
  margin-top: 429px;
}
.schoolOnline2 div {
  position: relative;
  top: 248px;
  left:-275px;
  display: block;
  height: 607px;
}



/*second page*/

.listAdvantages {
  position: absolute;
  left: 51.11%;
  top: 25%;
  width: 52.03%;
  list-style-type: none;
}
.listAdvantages li {
  padding: 1.5%;
  position: relative;
}
.listAdvantages li span {
  font-size: 20px;
  font-weight: normal;
  padding-right: 10%;
  width: 100%;
}

li:before {
  content: "";
  background-color: #f9d400;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: -5.3%;
}

/*Form*/

.statement {
  position: absolute;
  top:0;
  left:500%;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  display: block;
  border-radius: 27px;
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statement button{
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #141e46;
  width: 36%;
  height: 7%;
  margin-top: 30px;
  border-radius: 20%/40%;
  border-color: transparent;
  background-color: #f9d400;
  cursor: pointer;
  text-transform: uppercase;
}
.statement p {
  padding: 5px;
}


.form {
  position: absolute;
  top: 36.79%;
  left: 59.02%;
  height: 15.39%;
  border-radius: 27px;
  background-color: #ffff;
  width: 347px;
  height: 565px; 
  z-index: 3;
}
.form form {
  height: 100%;
  background-color: #ffff;
  border-radius: 27px;
}

.form h1 {
  width: 69.74%;
  height: 8.49%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 27px 59px 0 46px; 
  margin-top: 0px;
  margin-bottom: 35px;
}
.form label {
margin-top: 3%;

}
.form span {
  display: block;
  width: 100%;
  padding-left: 13.25%;
}
.form input {
  width: 75%;
  height: 5%;
  margin: 0 0 1.67% 13.25%;
  border: 1px solid #939393;
}
.form .country {
  width: 24%;
}
.form .telephone {
  width: 49%;
  margin-left: 1px;
}

/* Permission about data*/
.permission {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.permission label {
  margin: 0 0 1.76% 0;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.permission input {
  margin: 0 0 0 0;
  width: 20px;
  height: 20px;
}
.permission span {
  width: 80%;
  padding: 0 5% 0 3%;
  font-size: 11px;
}
a {
  text-decoration: none;
}

span.AddInformation {
  font-size: 10px;
  width: 69.74%;
  padding-left: 0px;
  margin-left: 11.52%;
}
.AddInformation p {
  margin: 0px 0px;
  padding-top: 0.7%;
  margin-left: -5%;
}

/*Button form*/
input.buttonForm {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #141e46;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 2% 0 0 0;
  width: 36%;
  height: 7%;
  border-radius: 20%/40%;
  border-color: transparent;
  background-color: #f9d400;
  cursor: pointer;
  text-transform: uppercase;
}

/*Picture form*/
.SecondPlanForm {
  position: absolute;
  left: -35%;
  bottom: 2%;
  z-index: -1;
  width: 1251px;
  height: 665px;
}

/*Second Section (beginningStudy)*/
.beginningStudy{
  position: relative;
  margin-top:201px;
  width:100%;

}

.beginningStudy h1 {
  height: 3.24%;
  line-height: 27px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 0 auto;
}

.contentBeginningStudy {
  width: 100%;
  margin-top: 142px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.contentBeginningStudy div {
  width: 20.13%;
  height: 287.6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3.47%;
}
.contentBeginningStudy div p {
  margin: 0 0 0 0;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}

.contentBeginningStudy div .containerImg {
  width: 160.01px;
  height: 158.3px; 
}

/* Section third (joindSection) */
.joinSection {
  position: relative;
  width: 100%;
  margin-top: 84px;

}
.joinSection img {
  width: 58.45%;
  height: 583.71px;
  position: absolute;
  right: 52.87%;
  top: 0%;
}
.joinSection .joinSectionText {
  padding-top: 190px;
  margin-left: 613px;
  width: 51.66%;
  height: 245px;
}
.joinSection .joinSectionText p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  font-size: 28px;
  padding: 5px 20px 0px 20px;
  font-weight: bold;
}
.joinSection .joinSectionText p span {
  display: inline-block;
  margin-top: 30px;
}
.joinSectionText button {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin: 7% auto;
  border-color: transparent;
  border-radius: 23px;
  text-transform: uppercase;
  background-color: #f9d400;
  cursor: pointer;
  width: 170px;
  height: 45px;
}

/* Slider */
.slider {
  position: relative;
  margin-top: 129px;
  width: 100%;

}
.slider h1 {
  font-size: 32px;
  font-weight: bold;
  height: 52px;
  text-align: center;
  margin: 0 auto;
}
.slider p {
  width: 59.3%;
  height: 202px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 42px auto;
}
.slider span {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: -100px;
}

.slider button {
  display: block;
  margin: 5% auto;
  width: 259px;
  height: 45px;
  border-radius: 23px;
  border-color: transparent;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f9d400;
  cursor: pointer;
}

/*arrows*/
.arrowRight {
  position: absolute;
  top: 36%;
  right: 15.5%;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  border-right: 4px solid #141e46;
  border-top: 4px solid #141e46;
  cursor: pointer;
}
.arrowLeft {
  position: absolute;
  top: 36%;
  left: 15.5%;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  border-left: 4px solid #141e46;
  border-bottom: 4px solid #141e46;
  cursor: pointer;
}

/* Footer */
.containerFooter {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 54.375%;
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.containerFooter a {
  font-size: 16px;
  color: #141e46;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-align: right;
}
.fa-facebook-square,
.fa-instagram {
  font-size: 25px;
} 


/*Media queries */

@media all and (min-width: 1441px){
  .joinSection img {
    width: 841.68px;
  }
  .joinSection .joinSectionText {
    margin-left: 42.56%;
    width: 743,904px;
  }
}

@media all and (max-width: 1420px){
 
.pictureFirst {
  height: 742px;
  width: 710px;
}
.schoolOnline2 p:nth-child(2){
  width: 500px;
}
}
@media all and (max-width: 1335px){
  .pictureFirst {
    height: 742px;
    width: 640px;
  }
}
@media all and (max-width: 1267px){

  .pictureFirst {
    height: 700px;
    width: 600px;
  }
  .schoolOnline2 div {
  width: 900px;
  }
  .joinSection .joinSectionText {
    margin-left: 550px;
  }
 }
 @media all and (max-width: 1211px){
  .pictureFirst {
    height: 600px;
    width: 450px;
  }
  .schoolOnline2 p:nth-child(4){
    width: 500px;
 }
 .schoolOnline2 div {
  width: 850px;
  }

  @media all and (max-width: 1130px){ 
    .joinSection .joinSectionText {
      margin-left: 500px;
    }
    .schoolOnline2 p:nth-child(4){
      width: 450px;
   }
   .schoolOnline2 div {
    width: 800px;
    }
    .listAdvantages {
      left: 48%;
    }
  }
  @media all and (max-width: 1130px){ 
    .schoolOnline2 h1 {
      width: 400px;
    }
    .schoolOnline2 p:nth-child(2){
      width: 500px;
    }
  }
  @media all and (max-width: 1024px){ 
    .schoolOnline2 p:nth-child(2){
      width: 450px;
    }
    .schoolOnline2 div {
      width: 700px;
     top: 200px;
     height: 507px;
      }
    .listAdvantages {
        left: 44%;
      }
    .slider button {
        width: 200px;
      }
    .joinSection .joinSectionText {
        margin-left: 420px;
      }
  }
  @media all and (max-width: 975px){ 
    .pictureFirst {
      height: 500px;
      width: 350px;
    }
    .schoolOnline2 div {
    width: 600px;
     height: 407px;
      }
    .listAdvantages {
        left: 37%;
      }
      .schoolOnline2 p:nth-child(4){
        width: 300px;
     }
    .slider p {
      font-size: 18px;
    }
    .containerFooter {
      flex-wrap: wrap;
    }
    .containerFooter a {
   padding: 4px;
    }
    .contentBeginningStudy div {
      width: 260px;
    }
    li:before {
      margin-left: -8.3%;
    }
  }
  @media all and (max-width: 895px){ 

  .schoolOnline2 p:nth-child(4){
      margin-top: 220px;
      width: 500px;
   }
   .listAdvantages {
    top: 20%;  
  }
  .schoolOnline2 { 
    margin-top: 80px;
  }
  
.form {
  left: 30.02%;
  width: 447px;
  height: 665px; 
}
.SecondPlanForm {
  left: -35%;
  width: 1351px;
  height: 765px;
}
.beginningStudy{
  margin-top:300px;
}
  }
  @media all and (max-width: 895px){ 
    .joinSection .joinSectionText {
      margin-left: 350px;
    }
    .schoolOnline2 div {   
      top: 50px;
      width: 500px;
     height: 307px;
     left:-200px;
    }
    .schoolOnline2 p:nth-child(4){
      margin-top: 280px;    
   }
   .form h1 {
    font-size: 22px; 
  }
  .form span{
    font-size: 15px;
  }
  .containerFooter {
    width: 90%;
  }
  .pictureFirst {
    height: 350px;
    width: 250px;
  }
  }
  @media all and (max-width: 790px){ 
    .schoolOnline2 div {   
      top: 50px;
      width: 400px;
     height: 207px;
     left:-150px;
    }
    .listAdvantages {
      top: 16%;  
    }  
   .form {
   top: 33%;
    }
  }
  @media all and (max-width: 727px){  
.logo {
  padding: 68px 0 0 70px;
  width: 186px;
  height: 41px;
}
.schoolOnline2 p, .schoolOnline2 h1 {
  margin-left: 70px;
}
.schoolOnline2 p:nth-child(4){
  margin-left: 70px;    
}
.schoolOnline2 { 
  margin-top: 30px;
}
.schoolOnline2 p:nth-child(2){
  font-size: 25px;
  width: 350px;
}
.listAdvantages {
  top: 13%;  
} 
.contentBeginningStudy {
  flex-direction: column;
  align-items: center; 
}
.contentBeginningStudy div {
  width: 300px;
  height: 350px;
  padding-bottom: 20px;
}
.contentBeginningStudy div p {
  font-size: 25px;
}
.contentBeginningStudy div .containerImg {
  width: 200px;
  height: 200px; 
}
.joinSection {
  margin-top: 10px;
}
.joinSection img {
  width: 58.45%;  
  height: 300px;
}
.joinSection .joinSectionText {
  padding-top: 120px;
  margin-left: 270px;
  width: 50%;
}
.joinSection .joinSectionText p {
  font-size: 20px;
}
.slider {
  margin-top: 60px;
  width: 100%;
}
.slider span {
  margin-top: -50px;
}
.form {
  top: 26%;
   }
  }
  @media all and (max-width: 670px){  

    .form {
      left: 50%;
      transform: translateX(-50%);
    }
    .schoolOnline2 p:nth-child(2){
      font-size: 20px;
      line-height: 23px;
    }
    .schoolOnline2 div {   
      top: -15px;
    }
    .listAdvantages {
      left: 50%;
      transform: translateX(-50%);
      top: 14%;
      width: 80%;
    }
    .beginningStudy h1 {
      width: 80%;
      line-height: 40px;
      font-size: 32px;
      
    }
    .slider h1 {
      width: 80%;
      font-size: 25px;
    }
  }

    @media all and (max-width: 575px){ 
      .joinSection .joinSectionText {
        padding-top: 120px;
        margin-left: 40%;
        width: 50%;
        padding-top: 50px;
        padding-bottom: 20px;
      }
      .pictureFirst {
        top: 9%;
        height: 200px;
        width: 200px;
      }
      .logo {
       margin: 0 auto;
       padding-left: 0;
      }
      .schoolOnline2 h1 {
      width: 400px;
       margin: 0 auto;
       text-align: left;
       padding-left: 0px;
       font-size: 25px;  
       margin-left:5%;
       margin-right: 5%;
   }
  
      .schoolOnline2 p:nth-child(4){
        font-size: 25px;   
        width: 400px;
        margin-top: 350px;    
 }
    
    .beginningStudy{
      margin-top:50px;
    }
    .form {
      top: 28%;
      width: 347px;
      height: 565px; 
    }
    .form h1 {
      font-size: 20px; 
    }
    .form span{
      font-size: 12px;
    }
    .SecondPlanForm {     
      width: 1151px;
      height: 565px;
      bottom:10%;
    } 
    .slider span { 
      margin-top: 0px;
  }

  .contentBeginningStudy div .containerImg {
    width: 160.01px;
    height: 158.3px; 
    margin-top: -100px;
  }
  .joinSection {
    margin-top: -100px;
  }
}
@media all and (max-width: 490px){ 
  .logo {
   padding-top: 30px;
  }
  .joinSection {
    margin-top: -150px;
  }
  .slider {
    margin-top: 100px;
  }
  .slider p {
    font-size: 16px;
  }
  .joinSection .joinSectionText p {
    font-size: 18px;
  }
  .pictureFirst {
    top: 9%;
    height: 160px;
    width: 150px;
  }
  .schoolOnline2 div {   
    top: 0px;
    width: 200px;
   height: 180px;
   left:-50px;
  }
  .schoolOnline2 p:nth-child(4){
    margin: 0 auto;
    margin-top: 270px;   
    text-align: center; 
}
.schoolOnline2{
  width: 100%;
}
 .schoolOnline2 h1 {
   width: 80%;
   font-size: 25px;
  margin: 0 auto;
  text-align: center;
}
.listAdvantages li span {
  font-size: 16px; 
}
.form {
  top: 25%;
}
.schoolOnline2 p:nth-child(2){
  font-size: 20px;
  line-height: 23px;
  width: 80%;
  margin: 0 auto;
  margin-top: 47.2px;
  text-align: center;
}
.containerFooter {
  margin-bottom: 8%;
}
}

@media all and (max-width: 390px){ 

  li:before {
    margin-left: -12.3%;
}
.schoolOnline2 p:nth-child(4){
  font-size: 20px;
  line-height: 26px;
  width: 80%;
  margin-top: 370px;
}
.beginningStudy h1 {
  font-size: 20px;
}
.contentBeginningStudy div {
  width: 250px;
  height: 200px;
 
}
.contentBeginningStudy div p {
  font-size: 16px;
}
.contentBeginningStudy div .containerImg {
  width: 90px;
  height: 95px;
}
.beginningStudy{
  margin-top: 70px;
}
.joinSection {
  margin-top: -100px;
}
.slider p {
  width: 70%;
}
.slider h1 {
  font-size: 20px;
}
.arrowRight {
  right: 8.5%;
}
.arrowLeft{
  left: 8.5%;
}
.pictureFirst {
  top: 12%;
}
.listAdvantages {
  top: 18%;  
}
.form {
  top: 31%;
  width: 280px;
  height: 500px;
}
.form h1 {
  font-size:13px;
  margin-bottom: 8px;
  padding-top: 20px;
}

.joinSection .joinSectionText p {
  font-size: 15px;
}
.SecondPlanForm {     
  width: 951px;
  height: 565px;
  bottom:1%;
} 
}

@media all and (max-width: 333px){ 
  .slider span {
    margin-top: 70px;
  }
  .containerFooter {
    margin-bottom: 15%;
  }
}

  



